@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Sarabun', sans-serif;
    background-color: #f5f9fc;
}
.content {
    padding: 4rem 2.5rem 1.5rem;
    -webkit-box-flex: 1;
    flex: 1;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
